* {
  padding: 0;
  margin: 0;
}

body {
  padding: 10px 20px;
}

.student-list {
  margin: 20px 0;
}

.student-item {
  margin-bottom: 10px;
}

.student-item span {
  padding-right: 10px;
}

ul {
  list-style: none;
}

.pagination li {
  display: inline;
  padding: 0 10px 0 0;
}

.pagination a {
  cursor: pointer;
}

.pagination .active {
  font-weight: bold;
}